In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
# Median for Yearly Salary
median_salary_year = df['salary_year_avg'].median().copy()
median_salary_year

np.float64(115000.0)

In [3]:
# Median for Hourly Salary
median_salary_hour = df['salary_hour_avg'].median().copy()
median_salary_hour

np.float64(45.97999954223633)

In [4]:
df_filled = df.copy()

In [5]:
# Fill the NaN values with Median
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [6]:
df_unique = df_filled.copy()

In [7]:
# Drop Duplicates
df_unique = df_unique.drop_duplicates()
print(f"Original: {len(df_filled)} | Unique: {len(df_unique)} | Dropped: {len(df_filled) - len(df_unique)}")

Original: 785741 | Unique: 785640 | Dropped: 101

In [8]:
# Drop Duplicates and specify subset columns
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])
print(f"Original: {len(df_filled)} | Unique: {len(df_unique)} | Dropped: {len(df_filled) - len(df_unique)}")

Original: 785741 | Unique: 508042 | Dropped: 277699